/.ropeproject
/__pycache__
/autosave
/config
/db
/defaults
/lsp_root_path
/plugins
/spyder.lock
/ImageData
Captures.db
history.py
history_internal.py
langconfig
onlinehelp
pdb_history.sqlite
spyder.ini
spyder.ini.bak
temp.py
template.py
workingdir
